.form-header {
  h3 {
    font-weight: 600;
    color: #000;
  }
}
.form {
  .register__form {
    margin: 4em 0 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    label {
      font-size: 0.95rem;
    }
    &-row {
      width: 100%;
      display: flex;
      gap: 2.5em;
      flex-wrap: wrap;
      .register__field-container {
        display: flex;
        flex-direction: column;
        flex-basis: calc(50% - 1.25em);
        .register__form-input {
          color: #333;
          font-size: 0.95rem;
          font-weight: 500;
          margin-top: 0.875em;
          border: 1px solid #e4e4e4;
          border-radius: 0;
          padding: 0.875em 1.15em 0.75em;
          outline: none;
          transform: border-color 0.4s cubic-bezier(0.19, 1.22, 1);
          &:focus,
          &:focus-within,
          &:active {
            outline: none;
            border-color: #929292;
          }
          &:not([type="date"]) {
            appearance: none;
          }
        }
        .register__form-input--birthday {
          font-family: "Hanken Grotesk", sans-serif !important;
          color: #333 !important;
        }
      }
      .register__field-container--radio {
        margin-top: unset;
        margin-bottom: unset;
        .register__form-radio-group {
          margin-top: 0.875em;
          display: flex;
          gap: 2.5em;
          .register__form-label--radio {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 11px 0 12px;
            .register__form-input--radio {
              margin: 0;
              display: inline-block;
              padding: 0;
              width: 14px;
              height: 14px;
              border-radius: 100%;
              border: 1px solid #000;
              position: relative;
              &:before {
                pointer-events: none;
                position: absolute;
                top: 1px;
                left: 1px;
                transform: scale(0.5);
                transform-origin: center;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: #000;
                opacity: 0;
                transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1),
                  opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
              }
              &:checked::before {
                opacity: 1;
                transform: none;
              }
              &:hover::before {
                opacity: 0.6;
                transform: scale(0.75);
              }
            }
            .register__form-label-text {
              margin-left: 5px;
            }
          }
        }
      }
      .create-account-btn {
        margin-top: 2.5em;
        padding: 1.25em 4.5em;
        border: none transparent;
        outline: none;
        background-color: #000;
        color: #fff;
        max-width: 250px;
        cursor: pointer;
      }
      &:nth-child(5) {
        padding-bottom: 2em;
      }
      &:last-child {
        justify-content: flex-end;
        border-top: 1px solid #e4e4e4;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .account-page-container {
    &__right {
      .form {
        padding: 2em 1em 1em 0;
        .register__form {
          margin: 1em 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .account-page-container {
    &__right {
      .form {
        padding: 2em 0 1em;
        .register__form {
          gap: 1em;
          &-row {
            gap: 1em;
            .register__field-container {
              flex-basis: 100%;
            }
            .register__field-container--radio {
              margin-top: 10px;
              margin-bottom: 15px;
              .register__form-radio-group {
                margin-top: 0.25em;
              }
            }
            &:last-child {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}
