.shopping-cart-container {
  opacity: 0;
  transform: translateY(3px);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0s 0.4s;
  &__items {
    max-height: calc(100vh - 18em);
    overflow-y: auto;
  }
  &__items,
  &__checkout {
    ul {
      list-style-type: none;
      li {
        color: #333;
        display: flex;
        padding: 1.5em 0 0.5em;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;
        .item {
          display: flex;
          align-items: center;
          gap: 5%;
          width: 75%;
          text-decoration: none;
          color: #333;
          &:hover {
            .item-name::after {
              transform: scaleX(1);
              transform-origin: left;
              transition-delay: 0s;
            }
          }
        }
        &:last-child {
          padding-bottom: 1em;
        }
        .item-img {
          background-color: #ececec;
          min-width: 65px;
          width: 65px;
          height: 70px;
          img {
            padding: 0.5em 0.65em;
            width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: darken;
          }
        }
        .item-detail {
          display: flex;
          gap: 0.15em;
          flex-direction: column;
          .item-name {
            position: relative;
            font-weight: 500;
            cursor: pointer;
            &:after {
              position: absolute;
              left: 0;
              bottom: -0.5px;
              opacity: 0.6;
              width: 100%;
              content: " ";
              color: transparent;
              background: #000;
              height: 1px;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
            }
          }
        }
        .item-price {
          width: 25%;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 0.15em;
          span {
            position: relative;
            font-weight: 500;
            font-size: 0.825rem;
            cursor: pointer;
            &:after {
              position: absolute;
              left: 0;
              bottom: -0.5px;
              opacity: 0.6;
              width: 100%;
              content: " ";
              color: transparent;
              background: #000;
              height: 1px;
              transform: scaleX(1);
              transform-origin: left;
              transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
            }
            &:hover {
              &::after {
                transform: scaleX(0);
                transform-origin: right;
                transition-delay: 0s;
              }
            }
          }
        }
        .checkout-btn-container {
          padding-top: 2em;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .checkout-btn {
            padding: 1.25em 4.5em;
            border: none transparent;
            outline: none;
            background-color: #000;
            color: white;
            cursor: pointer;
            position: relative;
            .icon {
              position: absolute;
              padding-top: 0.25em;
              padding-left: 1.15em;
              transform: scale(0);
              transform-origin: right;
              transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
            }
            &:hover {
              .icon {
                transform: scale(1);
                transform-origin: left;
                transition-delay: 0s;
              }
            }
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid #e4e4e4;
          padding: 1.5em 0 1.5em;
        }
      }
    }
  }
}

.header-overlay__shopping-cart--active {
  visibility: visible !important;
  transition: visibility 0s 0s !important;
  &:after {
    opacity: 1 !important;
    transform: scaleY(1) !important;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0s 0s !important;
  }
  .header-overlay-search__inner {
    opacity: 1 !important;
    transform: none !important;
    transition: opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.3s,
      transform 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s !important;
  }
}

@media only screen and (max-width: 1024px) {
  .shopping-cart-container {
    &__items {
      overflow-y: auto;
      height: 100%;
      ul {
        li {
          .item-detail {
            flex: 0.85;
          }
        }
      }
    }
    &__checkout {
      ul {
        li {
          font-size: 0.925rem;
          color: #000;
          padding: 0.5em;
          .checkout-btn-container {
            justify-content: center;
            .checkout-btn {
              width: calc(100vw - 5em);
              padding: 1.25em;
            }
          }
        }
      }
    }
  }
}
